html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: rgb(196,210,209);
  background: rgb(80,84,84);
  background: linear-gradient(0deg, rgba(80,84,84,1) 40%, rgba(152,152,152,1) 79%, rgba(252,252,252,1) 100%);  color: #f9f9f9;
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 320px;
  border-radius: 16px;
  background: url("img/introduction-visual.png");
  background-size: 110%;
  background-position: center;
  transition: 0.5s;
  box-shadow: 41px 41px 10px -23px rgba(48, 48, 48, 1)


}

@media(max-width:768px){
  .card{
    width: 85%;
  }
}

span{
  color: black;
}

.card h1 {
  font-size: 38px;
}

.card button {
  padding: 10px 30px;
  border-radius: 50px;
  border: 0;
  background: #fafafa;
  color: #000000;
  font-family: inherit;
}

.card button:hover{
  cursor: pointer;
  background: black;
  color: rgb(255, 254, 254);
  font-weight: bold;
}
